.home-title {
  font-family: 'Bungee Shade';
  color: navy;
}

.home-players-list {
  border-radius: 0.5rem;
  border: 2px solid navy;
  padding: 1rem;
  max-width: 12rem;
}

.home-players-select {
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 0.5rem;
  border: 2px solid navy;
}

.home-new-player {
  margin-top: 1rem;
  width:  12rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.home-error-message {
  color: #CC0000;
  text-align: center;
}
