.game-wrapper {
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  width: 90%;
  max-width: 70vh;
}

.game-board-tile-wrapper {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

.game-board-tile {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.game-board-tile-image,
.game-board-tile-backface {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  font-family: 'Bungee Shade';
  font-size: 1.5rem;
  cursor: pointer;
}

.game-board-tile-backface {
  background-color: #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.game-board-tile-image {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.game-board-tile.game-board-tile-flipped {
  border-radius: 10px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
