.app {
  background: linear-gradient(45deg, rgba(43,161,173,1) 0%, rgba(0,212,255,1) 100%);
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Bungee Shade';
  color: navy;
}

.players-list {
  margin-top: 2rem;
  width:  10rem;
  padding: 0.5rem;
  border: 2px solid navy;
}

.new-player {
  margin-top: 1rem;
  width:  10rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.start-button {
  width:  10rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  padding: 0.3rem 1.5rem;
  border: 2px solid navy;
  cursor: pointer;
}

.start-button:hover {
  box-shadow: 0 0 5px navy;
}
