.scoreboard-score {
  text-align: center;
}

.scoreboard-highscores-list {
  width: 80vw;
  border-radius: 0.5rem;
  border: 2px solid navy;
}

.scoreboard-legend {
  font-size: 1.5rem;
}

.scoreboard-highscore-item {
  line-height: 2;
}

.scoreboard-player-score {
  float: right;
  margin-right: 1rem;
}
